
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>

</head>

<body>

<h1>Lista de asistencia</h1>

<a href="/asistencia/">
    Nueva asistencia
</a>

<hr>

{% for asistencia in asistencias %}

    <h3>{{ asistencia.nombre }}</h3>

    <p>{{ asistencia.apellido }}</p>

    <a href="/asistencia/detalle/{{ asistencia.id }}/">
        Ver
    </a>

    |

    <a href="/asistencia/editar/{{ asistencia.id }}/">
        Editar
    </a>

    |

    <a href="/asistencia/eliminar/{{ asistencia.id }}/">
        Eliminar
    </a>

    <hr>

{% empty %}

    <p>No hay asistencias.</p>

{% endfor %}

</body>

</html>